---
const companies = [
  {
    name: "Gumroad",
    url: "https://gumroad.com",
    verified: true,
    earnings: "50,000$",
    duration: "6 months",
    features: [
      "[flexile.com] Public Portfolio page",
      "[helper.ai] AI-powered writing experience",
    ],
  },
  {
    name: "Holidoit",
    url: "https://holidoit.com",
    verified: false,
    earnings: "12,000$",
    duration: "2 months",
    features: [
      "i18n for the marketing website",
      "AI-powered marketing side-projects",
      "B2B dashboard",
    ],
  },
  {
    name: "Typefully",
    url: "https://typefully.com",
    verified: false,
    earnings: "180,000$",
    duration: "2 years",
    features: [
      "TipTap-based rich-text editor",
      "Commenting & Notifications system",
    ],
  },
];
---

<section class="py-8 px-4">
  <div class="max-w-4xl mx-auto">
    <h2 class="text-3xl font-bold">Past collaborations</h2>
    <div class="flex flex-col w-full">
      {
        companies.map((company, index) => (
          <div
            class={`p-6 relative overflow-hidden ${index !== companies.length - 1 ? "" : ""}`}
          >
            <div class="relative z-10">
              <div class="flex items-center justify-between mb-4">
                <a
                  href={company.url}
                  target="_blank"
                  rel="noopener noreferrer"
                  class="text-xl font-semibold flex items-center group"
                >
                  <span class="inline-flex items-center">
                    <span class="underline underline-offset-8 font-normal">
                      {company.name}
                    </span>
                    <span class="ml-2 text-xl font-thin leading-none">↗️</span>
                  </span>
                </a>
                {company.verified ? (
                  <div class="px-3 py-1 text-sm font-semibold text-white bg-green-500">
                    Verified
                  </div>
                ) : (
                  <div />
                )}
              </div>
              <div class="flex flex-row space-x-4 mb-4">
                <div class="border border-white p-4 flex-1">
                  <p class="text-md font-bold mb-2">Proof of trust</p>
                  <ul class="list-none">
                    {[`+${company.earnings}`, `+${company.duration}`].map(
                      (item) => (
                        <li class="flex items-center text-white">
                          <span class="text-xs font-bold mr-2">▫️</span>
                          <p class="text-sm">{item}</p>
                        </li>
                      )
                    )}
                  </ul>
                </div>

                <div class="border border-white p-4 flex-1">
                  <p class="text-md font-bold mb-2">Contributions</p>
                  <ul class="list-none">
                    {company.features.map((feature) => (
                      <li class="flex items-center">
                        <span class="text-xs font-bold mr-2">▫️</span>
                        <p class="text-sm">{feature}</p>
                      </li>
                    ))}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
